<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>IGNORED</title>
</head>

<body>
<ui:composition template="/templates/masterTemplate.xhtml">

    <ui:define name="content">
        <div id="content">
            <h3>#{msgs.titleFormAdd}</h3>

            <h:form>
                <h:panelGrid columns="3" frame="hsides" cellspacing="3">
                    <h:outputLabel for="fname" value="#{msgs.Firstname}" />
                    <h:inputText id="fname"
                                 value="#{servJPAPostgresqlBean.newPerson.fname}" required="true"
                                 requiredMessage="#{errors.AddFirstname}" />
                    <h:message for="fname" />
                    <h:outputLabel for="lname" value="#{msgs.Lastname}" />
                    <h:inputText id="lname"
                                 value="#{servJPAPostgresqlBean.newPerson.lname}" required="true"
                                 requiredMessage="#{errors.AddLastname}" />
                    <h:message for="lname" />
                    <h:outputLabel for="city" value="#{msgs.City}" />
                    <h:inputText id="city"
                                 value="#{servJPAPostgresqlBean.newPerson.city}" />
                    <h:message for="city" />
                    <h:outputLabel for="email" value="#{msgs.Email}" />
                    <h:inputText id="email"
                                 value="#{servJPAPostgresqlBean.newPerson.email}" required="true"
                                 requiredMessage="#{errors.AddEmail}">
                    </h:inputText>
                    <h:message for="email" />
                    <h:outputLabel for="tel" value="#{msgs.Tel}" />
                    <h:inputText id="tel"
                                 value="#{servJPAPostgresqlBean.newPerson.tel}" />
                    <h:message for="tel" />
                </h:panelGrid>
                <h:commandButton value="#{msgs.saveLinkFormAdd}"
                                 action="#{servJPAPostgresqlBean.savePerson}" id="save" />

            </h:form>

        </div>

    </ui:define>

</ui:composition>


</body>

</html>