<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>IGNORED</title>
</head>
<body>

<ui:composition template="/templates/masterTemplate.xhtml" >
    <ui:define name="content">
        <div id="content">
            <h3>#{msgs.titleFormJPADB2}</h3>
            <h:form>
                <h:dataTable value="#{servJPADB2Bean.people}" var="record1"
                             border="1">
                    <h:column>
                        <!-- kolumna zawiera nazwiska osob -->
                        <f:facet name="header">
                            <f:verbatim>#{msgs.Lastname}</f:verbatim>
                        </f:facet>
                        <h:outputText value="#{record1.lname}" />
                    </h:column>
                    <h:column>
                        <!-- kolumna zawiera imiona osob -->
                        <f:facet name="header">
                            <f:verbatim>#{msgs.Firstname}</f:verbatim>
                        </f:facet>
                        <h:outputText value="#{record1.fname}" />
                    </h:column>
                    <h:column>
                        <!-- kolumna zawiera e-mail osob -->
                        <f:facet name="header">
                            <f:verbatim>#{msgs.Email}</f:verbatim>
                        </f:facet>
                        <h:outputText value="#{record1.email}" />
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{msgs.actionFormList}" />
                        </f:facet>
                        [<h:commandLink id="View" action="#{servJPADB2Bean.selectPerson(record1)}" >
                        <h:outputText value="#{msgs.viewFormCRUD}" />
                    </h:commandLink>]
                        [<h:commandLink id="Edit" action="#{servJPADB2Bean.updPerson(record1)}" >
                        <h:outputText value="#{msgs.editFormCRUD}" />
                    </h:commandLink>]
                        [<h:commandLink id="Delete" action="#{servJPADB2Bean.delPerson(record1)}" >
                        <h:outputText value="#{msgs.delFormCRUD}" />
                    </h:commandLink>]
                    </h:column>

                </h:dataTable>
            </h:form>

        </div>
    </ui:define>
</ui:composition>

</body>
</html>




