<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
<title>ZTI Lab03 - JPA</title>
</head>
<body>
	<div id="content">
		<h2>#{msgs.titleFormServis}</h2>
		<h:form>
			<ul>
				<li><a href="viewJDBC_Postgresql.jsf">#{msgs.linkJDBCPostgresqlFormServis}</a></li>
				<li><a href="viewJDBC_DB2.jsf">#{msgs.linkJDBCDB2FormServis}</a></li>
				<li><a href="viewJNDI_Postgresql.jsf">#{msgs.linkJNDIPostgresqlFormServis}</a></li>
				<li><a href="viewJNDI_DB2.jsf">#{msgs.linkJNDIDB2FormServis}</a></li>
				<li><a href="viewJPA_Postgresql.jsf">#{msgs.linkJPAPostgresqlFormServis}</a></li>
				<li><a href="viewJPA_DB2.jsf">#{msgs.linkJPADB2FormServis}</a></li>
				<li><a href="viewCRUD.jsf">#{msgs.siteTitleCRUD}</a></li>
			</ul>
		</h:form>
	</div>
</body>
</html>