<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>IGNORED</title>
</head>

<body>
<ui:composition template="/templates/masterTemplate.xhtml">

    <ui:define name="content">

        <div id="content">
            <h3>#{msgs.titleFormUpdate}</h3>
            <h:form>
                <h:panelGrid columns="3" frame="hsides" cellspacing="3">
                    <h:outputLabel for="fname" value="#{msgs.Firstname}" />
                    <h:inputText id="fname"
                                 value="#{servJPAPostgresqlBean.editPerson.fname}" />
                    <h:outputText value="" />
                    <h:outputLabel for="lname" value="#{msgs.Lastname}" />
                    <h:inputText id="lname"
                                 value="#{servJPAPostgresqlBean.editPerson.lname}" />
                    <h:outputText value="" />
                    <h:outputLabel for="city" value="#{msgs.City}" />
                    <h:inputText id="city"
                                 value="#{servJPAPostgresqlBean.editPerson.city}" />
                    <h:outputText value="" />
                    <h:outputLabel for="email" value="#{msgs.Email}" />
                    <h:inputText id="email"
                                 value="#{servJPAPostgresqlBean.editPerson.email}" />
                    <h:outputText value="" />
                    <h:outputLabel for="tel" value="#{msgs.Tel}" />
                    <h:inputText id="tel"
                                 value="#{servJPAPostgresqlBean.editPerson.tel}" />
                    <h:outputText value="" />
                </h:panelGrid>
                <h:commandButton value="#{msgs.saveLinkFormUpdate}"
                                 action="#{servJPAPostgresqlBean.updatePerson}" id="update" />
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>