<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>Test - view JPA</title>
</head>
<body>
<div id="content">
    <h1>#{msgs.titleFormJPA}</h1>
    <h2>#{msgs.subtitleFormJPA}</h2>
    <h3>#{msgs.titleFormJPAPostgresql}</h3>
    <h:form>
        <h:dataTable value="#{servJPAPostgresqlBean.people}" var="record1" border="1">
            <h:column>
                <!-- kolumna zawiera nazwiska osob -->
                <f:facet name="header">
                    <f:verbatim>#{msgs.Lastname}</f:verbatim>
                </f:facet>
                <h:outputText value="#{record1.lname}" />
            </h:column>
            <h:column>
                <!-- kolumna zawiera imiona osob -->
                <f:facet name="header">
                    <f:verbatim>#{msgs.Firstname}</f:verbatim>
                </f:facet>
                <h:outputText value="#{record1.fname}" />
            </h:column>
            <h:column>
                <!-- kolumna zawiera e-mail osob -->
                <f:facet name="header">
                    <f:verbatim>#{msgs.Email}</f:verbatim>
                </f:facet>
                <h:outputText value="#{record1.email}" />
            </h:column>

        </h:dataTable>
    </h:form>
</div>
</body>
</html>