<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>IGNORED</title>
</head>

<body>
<ui:composition template="/templates/masterTemplate.xhtml">
    <ui:define name="content">
        <div id="content">
            <h3>#{msgs.titleFormView}</h3>
            <h:form>
                <h:panelGrid columns="2" frame="hsides" cellspacing="2">
                    <h:outputLabel for="fname" value="#{msgs.Firstname}" />
                    <h:outputText id="fname"
                                  value="#{servJPADB2Bean.person.fname}" />
                    <h:outputLabel for="lname" value="#{msgs.Lastname}" />
                    <h:outputText id="lname"
                                  value="#{servJPADB2Bean.person.lname}" />
                    <h:outputLabel for="city" value="#{msgs.City}" />
                    <h:outputText id="city"
                                  value="#{servJPADB2Bean.person.city}" />
                    <h:outputLabel for="email" value="#{msgs.Email}" />
                    <h:outputText id="email"
                                  value="#{servJPADB2Bean.person.email}" />
                    <h:outputLabel for="tel" value="#{msgs.Tel}" />
                    <h:outputText id="tel" value="#{servJPADB2Bean.person.tel}" />
                </h:panelGrid>

            </h:form>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>