<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>IGNORED</title>
</head>

<body>
<ui:composition>
    <div class="header">
        <h1>
            #{msgs.applTitle}
        </h1>
        <h:form>
            <!-- h:link value="Home"  id="index"  outcome="index" /-->
            <!-- h:link value="Lista" id="list"  outcome="list"/-->
            <!-- h:link value="Dodaj" id="add"   outcome="add"/-->
            <h:commandButton value="#{msgs.linkHome}" id="home" action="index?faces-redirect=true" />
            <h:commandButton value="#{msgs.linkList}" id="list" action="list?faces-redirect=true" />
            <h:commandButton value="#{msgs.linkAdd}" id="add" action="add?faces-redirect=true" />
        </h:form>
    </div>
</ui:composition>
</body>
</html>