<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title><ui:insert name="windowTitle"></ui:insert></title>
    <h:outputStylesheet library="css" name="style.css" />
</h:head>

<h:body>
    <ui:debug hotkey="x" rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}"/>

    <div id="header">
        <ui:insert name="header">
            <!--  include your header file or uncomment the include below and create header.xhtml in this directory -->
            <ui:include src="/section/main/header.xhtml"/>
        </ui:insert>
    </div>


    <div id="content">
        <ui:insert name="content">
            <!--  include your content file or uncomment the include below and create content.xhtml in this directory -->
            <!-- <div> -->
            <!-- <ui:include src="content.xhtml"/> -->
            <!-- </div> -->
        </ui:insert>
    </div>

    <div id="footer">
        <ui:insert name="footer">
            <!--  include your header file or uncomment the include below and create footer.xhtml in this directory -->
            <ui:include src="/section/main/footer.xhtml"/>
        </ui:insert>
    </div>

</h:body>

</html>