<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>IGNORED</title>
</head>
<body>
<ui:composition>
    <!--div class="sidebar"-->
    <h:form>

        <h:link value="#{msgs.linkAllRecPostgresqlSidebar}"   id="all_Postgresql"  outcome="allRecPostgresql" /> <br/>
        <h:link value="#{msgs.linkAddRecPostgresqlSidebar}" id="add_Postgresql"  outcome="addRecPostgresql" />	<br/>
        <h:link value="#{msgs.linkAllRecDB2Sidebar}"        id="all_dashDB"      outcome="allRecDB2" /> <br/>
        <h:link value="#{msgs.linkAddRecDB2Sidebar}"        id="add_dashDB"      outcome="addRecDB2" /> <br/>

    </h:form>
    <!--/div-->
</ui:composition>
</body>
</html>