<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>IGNORED</title>
</head>

<body>
<ui:composition template="/templates/masterTemplate.xhtml">
    <ui:define name="windowTitle">
        #{msgs.siteTitle}
    </ui:define>


    <ui:define name="content">
        <div id="content">
            #{msgs.titleFormList}
            <h:form>
                <h:dataTable value="#{personBean.people}" var="record" border="1">
                    <h:column>
                        <!-- kolumna zawiera nazwiska osob -->
                        <f:facet name="header">
                            <f:verbatim>#{msgs.Lastname}</f:verbatim>
                        </f:facet>
                        <h:outputText value="#{record.lname}"/>
                    </h:column>
                    <h:column>
                        <!-- kolumna zawiera imiona osob -->
                        <f:facet name="header">
                            <f:verbatim>#{msgs.Firstname}</f:verbatim>
                        </f:facet>
                        <h:outputText value="#{record.fname}"/>
                    </h:column>
                    <h:column>
                        <!-- kolumna zawiera e-mail osob -->
                        <f:facet name="header">
                            <f:verbatim>#{msgs.Email}</f:verbatim>
                        </f:facet>
                        <h:outputText value="#{record.email}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{msgs.actionFormList}"/>
                        </f:facet>
                        [<h:commandLink id="View" action="view"
                                        actionListener="#{personBean.selectPerson}">
                        <h:outputText value="#{msgs.viewLinkFormList}"/>
                        <f:param id="viewId" name="id" value="#{record.id}"/>
                    </h:commandLink>]
                        [<h:commandLink id="Edit" action="update"
                                        actionListener="#{personBean.selectPerson}">
                        <h:outputText value="#{msgs.editLinkFormList}"/>
                        <f:param id="editId" name="id" value="#{record.id}"/>
                    </h:commandLink>]
                        [<h:commandLink id="Delete" action="list"
                                        actionListener="#{personBean.deletePerson}">
                        <h:outputText value="#{msgs.delLinkFormList}"/>
                        <f:param id="deleteId" name="id" value="#{record.id}"/>
                    </h:commandLink>]
                    </h:column>

                </h:dataTable>
            </h:form>
        </div>
    </ui:define>

</ui:composition>


</body>


</html>
